<div id = "tittlePage">
  <p style="font-size: 175%; padding: 0 20px 0 20px; margin-bottom: 0;">To Do List</p>
</div>
<div class="containerTasks">
  <div class="container">
    <div class="row tTask">
        <h2 class="col-10">Individual Tasks</h2>
        <p class="col-1 btn">a</p>
        <p class="col-1 btn">a</p>
    </div>
    <div>
      <ol>
        <li>
          <div class="row Task">
            <h6 class="col-10 task">Task #1</h6>
              <button class="col-1 btn"><i class="fa fa-pen"></i></button>
              <button class="col-1 btn"><i class="fa fa-trash"></i></button>
          </div>
        </li>
        <li>
          <div class="row task">
            <h6 class="col-10 task">Task #2</h6>
            <button class="col-1 btn"><i class="fa fa-pen"></i></button>
            <button class="col-1 btn"><i class="fa fa-trash"></i></button>
          </div>
        </li>
        <li>
          <div class="row task">
            <h6 class="col-10 task">Task #3</h6>
            <button class="col-1 btn"><i class="fa fa-pen"></i></button>
            <button class="col-1 btn"><i class="fa fa-trash"></i></button>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>