<div class="containerTasks">
  <div class="container">
    <div class="row tTask">
        <h2 class="col-10">Grupal Tasks</h2>
        <button class="col-1 btn"><i class="fa fa-pen"></i></button>
        <button class="col-1 btn"><i class="fa fa-trash"></i></button>
    </div>
    <div class="container">
      <div class="row tTask">
        <h4 class="col-10">Group #1</h4>
        <button class="col-1 btn"><i class="fa fa-pen"></i></button>
        <button class="col-1 btn"><i class="fa fa-trash"></i></button>
      </div>
      <div>
        <ol>
          <li>
            <div class="row Task">
              <h6 class="col-10 task">Task #1</h6>
                <button class="col-1 btn"><i class="fa fa-pen"></i></button>
                <button class="col-1 btn"><i class="fa fa-trash"></i></button>
            </div>
          </li>
          <li>
            <div class="row task">
              <h6 class="col-10 task">Task #2</h6>
              <button class="col-1 btn"><i class="fa fa-pen"></i></button>
              <button class="col-1 btn"><i class="fa fa-trash"></i></button>
            </div>
          </li>
          <li>
            <div class="row task">
              <h6 class="col-10 task">Task #3</h6>
              <button class="col-1 btn"><i class="fa fa-pen"></i></button>
              <button class="col-1 btn"><i class="fa fa-trash"></i></button>
            </div>
          </li>
        </ol>
      </div>
    </div>
    <div class="row tTask">
      <h4 class="col-10">Group #2</h4>
      <button class="col-1 btn"><i class="fa fa-pen"></i></button>
      <button class="col-1 btn"><i class="fa fa-trash"></i></button>
    </div>
    <div>
      <ol>
        <li>
          <div class="row Task">
            <h6 class="col-10 task">Task #1</h6>
              <button class="col-1 btn"><i class="fa fa-pen"></i></button>
              <button class="col-1 btn"><i class="fa fa-trash"></i></button>
          </div>
        </li>
        <li>
          <div class="row task">
            <h6 class="col-10 task">Task #2</h6>
            <button class="col-1 btn"><i class="fa fa-pen"></i></button>
            <button class="col-1 btn"><i class="fa fa-trash"></i></button>
          </div>
        </li>
        <li>
          <div class="row task">
            <h6 class="col-10 task">Task #3</h6>
            <button class="col-1 btn"><i class="fa fa-pen"></i></button>
            <button class="col-1 btn"><i class="fa fa-trash"></i></button>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>
<div id="groupBtn">
  <label class="btn btn-outline-secondary custom-control-label">Carrucel</label>
  <label class="btn btn-outline-success custom-control-label">Nuevo grupo</label>
</div>